@page "/ropafotos"
@inject HttpClient Http
@using ClothingSystem.EntidadesDeNegocio


@if (ropafotos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>IdRopa</th>
                <th>Url</th>
                <th>Estatus</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var ropafoto in ropafotos)
            {
                <tr>
                    <td>@ropafoto.Id</td>
                    <td>@ropafoto.IdRopa</td>
                    <td>@ropafoto.Url</td>
                    <td>@ropafoto.Estatus</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private RopaFoto[]? ropafotos;

    protected override async Task OnInitializedAsync()
    {
        // https://localhost:44309/api/RopaFotos
        ropafotos = await Http.GetFromJsonAsync<RopaFoto[]>("RopaFoto");
    }
}
